h1, h2, h3, h4, h5, h6 {
  color: rgba(233,44,31,1);
}

p, small {
  color: rgba(142,119,105,1);
}

header, footer, .row {
  background-color: rgba(0,0,0,.6);
}

a:link, a:visited {
    color: rgba(142,119,105,1);
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: rgba(142,119,105,1);
}
img {
  margin: 0 auto;
}


h2, h4, p {
  text-align: center;
}

hr {
  width: 100%;
}
ul {
margin-top: 30px;
text-align: right;
}

li {
  display: inline;
}

.hidden {
  display: none;
}

.wrapper article {
  display:inline;
}

body {
  background-image: url(/images/RadiantFountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#login_page {
  text-align: left;
}
