<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Dota 2 Counterpicker</title>
  </head>
  <body>
    <div class="container">

      <header class="row">
        <h1 class="col-md-6">Dota 2 Counter Picker</h1>
        <nav class="col-md-6 .nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/heroes">Heroes</a></li>
          </ul>
        </nav>
        <hr>
      </header>

      <%= yield %>

      <footer>
      <hr>
      <p>
        All pictures and info are from Dotabuff.com and Valve.
      </p>
      </footer>

  </div> <!-- end container -->
  </body>
</html>
