<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/skeleton.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Sinatra Coupons</title>
  </head>
  <body>
    <header>
      <h1>Sinatra Coupons</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/coupons">Coupons</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
      <hr>
    </header>

    <%= yield %>

    <footer>
    <hr>
    <p>
      &copy; Sinatra Coupons
    </p>
    </footer>
  </body>
</html>
