
<h2>Registration</h2>

<form action="/register/success" method="post">
  <input type="text" name="user_name" placeholder="Choose a username">
  <input type="text" name="user_email" placeholder="Your email address">
  <input type="text" name="password" placeholder="Choose a secure password">
  <input type="submit" value="Register">
</form>

<h4>
  Nevermind...<br>
  <a href="/login">back to login</a>
</h4>
