<div class="row">
  <div class="col-xs-6">
    <h2 id="login_page">Login to DOTA2 Counter Picker</h2>
    <form action="/login" method="post">
      <input type="text" name="user_name" placeholder="User name">
      <input type="password" name="password" placeholder="********">
      <input type="submit" value="Login">
    </form>
  </div>

  <div class="col-xs-6">
    <h3>
      Don't have an account?<br>
      <a href="/register">Register here!</a>
    </h3>
  </div>
</div>
