
<h2>Login to DOTA2 Counter Picker</h2>
<form action="/login" method="post">
  <input type="text" name="user_name" placeholder="User name">
  <input type="text" name="password" placeholder="********">
  <input type="submit" value="Login">
</form>


<h3>
  Don't have an account?<br>
  <a href="/register">Register here!</a>
</h3>
