<h2>Who are you playing against?</h2>

<div class="container">

<!--

This is to show div when user presses the add hero button

$('div:hidden').first().removeClass("hidden")

-->

<div class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
    </ul>
</div>






<form class="" action="/heroes" method="post">
  <div id="first-row" class="row">
    <input class="col-md-9" list="heroes-list" placeholder="Who is your opponent..." name="one">
      <input class="col-md-3" type="button" name="Add Hero"  value="+"></input>
  </div>
  <div class="row hidden">
    <input class="col-md-9" list="heroes-list" placeholder="Who is your opponent..."  name="two">
      <input class="col-md-3" type="button" name="Add Hero" value="+"></input>
  </div>
  <div id="third-row" class="row" display="none">
    <input class="col-md-9" list="heroes-list" placeholder="Who is your opponent..." name="three">
      <input class="col-md-3" type="button" name="Add Hero" value="+"></input>
  </div>
  <div id="fourth-row" class="row" display="none">
    <input class="col-md-9" list="heroes-list" placeholder="Who is your opponent..." name="four">
      <input class="col-md-3" type="button" name="Add Hero" value="+"></input>
  </div>
  <div id="fifth-row" class="row" display="none">
    <input class="col-md-9" list="heroes-list" placeholder="Who is your opponent..." name="five">
  </div>
  <div class="row">
  <input type="submit" value="Calculate">
  </div>

    <!-- Datalist begins here -->
    <datalist id="heroes-list">
      <% @heroes.each do |hero| %>
        <option>
        <%= hero.name %>
        </option>
      <% end %>
    </datalist>


</div>
