
<h2>Registration</h2>

  <div class="col-xs-6">
    <form action="/register/success" method="post">
      <input type="text" name="user_name" placeholder="Choose a username">
      <input type="text" name="user_email" placeholder="Your email address">
      <input type="password" name="password" placeholder="Choose a secure password">
      <input type="submit" value="Register">
    </form>
  </div>

  <div class="col-xs-6">
    <h4>
      Nevermind...
      <a href="/login">back to login</a>
    </h4>
  </div>
